---
layout: default
---
<section class="home">
  {{ content }}

  <h2>recent posts</h2>
  <ul class="entry-list">
    {% assign posts = site.posts | where_exp: "p", "p.hidden != true" %}
    {% for post in posts limit: 5 %}
    {% assign post_date = post.post_date | default: post.date %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <time datetime="{{ post_date | date_to_xmlschema }}">{{ post_date | date: "%b %-d, %Y" }}</time>
    </li>
    {% endfor %}
  </ul>
  <a class="see-all" href="{{ '/posts/' | relative_url }}">all posts &rarr;</a>

  <h2>recent notes</h2>
  <ul class="entry-list">
    {% assign notes = site.notes | sort: "post_date" | reverse | where_exp: "n", "n.hidden != true" %}
    {% for note in notes limit: 5 %}
    <li>
      <a href="{{ note.url | relative_url }}">{{ note.title }}</a>
      <time datetime="{{ note.post_date | date_to_xmlschema }}">{{ note.post_date | date: "%b %-d, %Y" }}</time>
    </li>
    {% endfor %}
  </ul>
  <a class="see-all" href="{{ '/notes/' | relative_url }}">all notes &rarr;</a>
</section>
