---
layout: default
---
<section class="entry-list-page">
  <h1>{{ page.title }}</h1>
  <div class="entry-content">
    {{ content }}
  </div>
  <ul class="entry-list">
    {% assign entries = site.posts | where_exp: "p", "p.hidden != true" %}
    {% for entry in entries %}
    {% assign entry_date = entry.post_date | default: entry.date %}
    <li>
      <a href="{{ entry.url | relative_url }}">{{ entry.title }}</a>
      <time datetime="{{ entry_date | date_to_xmlschema }}">{{ entry_date | date: "%b %-d, %Y" }}</time>
      {% if entry.subtitle %}<p class="entry-summary">{{ entry.subtitle }}</p>{% endif %}
    </li>
    {% endfor %}
  </ul>
</section>

{% if page.comments %}
{% include comments.html %}
{% endif %}
